<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Post lists</title>
    <style>
  .horizontal-images {
    display: flex;
    gap: 80.8px; /* 画像同士の間に余白を追加 */
    flex-wrap: nowrap; /* 折り返しを禁止 */
    width: 100%; /* コンテナの幅を画面いっぱいに設定 */
}

  .horizontal-images img {
    /*max-width: auto;*/ /* 画像の最大幅を指定（必要に応じて調整してください） */
    height: 100px;
  }
</style>
</head>
<body>
  <a href="{% url 'sample_app:create_post' %}">戻る</a>
<style></style>
{{linebreaks}}
<!-- {{posts.name|linebreaks}}-->

<div class="horizontal-images">
   {% for tone in posts.tone_list %}
            {% if tone == "E3" %}
                <img src="{% static 'sample_app/images/e3.png' %}" alt="E3">
            {% elif tone == "F3" %}
                <img src="{% static 'sample_app/images/f3.png' %}" alt="F3">
            {% elif tone == "F#3" %}
                <img src="{% static 'sample_app/images/fs3.png' %}" alt="F#3">
            {% elif tone == "G3" %}
                <img src="{% static 'sample_app/images/g3.png' %}" alt="G3">
            {% elif tone == "G#3" %}
                <img src="{% static 'sample_app/images/gs3.png' %}" alt="G#3">
            {% elif tone == "A3" %}
                <img src="{% static 'sample_app/images/a3.png' %}" alt="A3">
            {% elif tone == "A#3" %}
                <img src="{% static 'sample_app/images/as3.png' %}" alt="A#3">
            {% elif tone == "B3" %}
                <img src="{% static 'sample_app/images/b3.png' %}" alt="B3">
            {% elif tone == "C4" %}
                <img src="{% static 'sample_app/images/c4.png' %}" alt="C4">
            {% elif tone == "C#4" %}
                <img src="{% static 'sample_app/images/cs4.png' %}" alt="C#4">
            {% elif tone == "D4" %}
                <img src="{% static 'sample_app/images/d4.png' %}" alt="D4">
            {% elif tone == "D#4" %}
                <img src="{% static 'sample_app/images/ds4.png' %}" alt="D#4">
            {% elif tone == "E4" %}
                <img src="{% static 'sample_app/images/e4.png' %}" alt="E4">
            {% elif tone == "F4" %}
                <img src="{% static 'sample_app/images/f4.png' %}" alt="F4">
            {% elif tone == "F#4" %}
                <img src="{% static 'sample_app/images/fs4.png' %}" alt="F#4">
            {% elif tone == "G4" %}
                <img src="{% static 'sample_app/images/g4.png' %}" alt="G4">
            {% elif tone == "G#4" %}
                <img src="{% static 'sample_app/images/gs4.png' %}" alt="G#4">
            {% elif tone == "A4" %}
                <img src="{% static 'sample_app/images/a4.png' %}" alt="A4">
            {% elif tone == "A#4" %}
                <img src="{% static 'sample_app/images/as4.png' %}" alt="A#4">
            {% elif tone == "B4" %}
                <img src="{% static 'sample_app/images/b4.png' %}" alt="B4">
            {% elif tone == "C5" %}
                <img src="{% static 'sample_app/images/c5.png' %}" alt="C5">
            {% elif tone == "C#5" %}
                <img src="{% static 'sample_app/images/cs5.png' %}" alt="C#5">
            {% elif tone == "D5" %}
                <img src="{% static 'sample_app/images/d5.png' %}" alt="D5">
            {% elif tone == "D#5" %}
                <img src="{% static 'sample_app/images/ds5.png' %}" alt="D#5">
            {% elif tone == "E5" %}
                <img src="{% static 'sample_app/images/e5.png' %}" alt="E5">
            {% elif tone == "F5" %}
                <img src="{% static 'sample_app/images/f5.png' %}" alt="F5">
            {% elif tone == "F#5" %}
                <img src="{% static 'sample_app/images/fs5.png' %}" alt="F#5">
            {% elif tone == "G5" %}
                <img src="{% static 'sample_app/images/g5.png' %}" alt="G5">
            {% elif tone == "G#5" %}
                <img src="{% static 'sample_app/images/gs5.png' %}" alt="G#5">
            {% elif tone == "A5" %}
                <img src="{% static 'sample_app/images/a5.png' %}" alt="A5">
            {% elif tone == "A#5" %}
                <img src="{% static 'sample_app/images/as5.png' %}" alt="A#5">
            {% elif tone == "B5" %}
                <img src="{% static 'sample_app/images/b5.png' %}" alt="B5">
            {% elif tone == "C6" %}
                <img src="{% static 'sample_app/images/c6.png' %}" alt="C6">
            {% elif tone == "C#6" %}
                <img src="{% static 'sample_app/images/cs6.png' %}" alt="C#6">
            {% elif tone == "D6" %}
                <img src="{% static 'sample_app/images/d6.png' %}" alt="D6">
            {% elif tone == "D#6" %}
                <img src="{% static 'sample_app/images/ds6.png' %}" alt="D#6">
            {% elif tone == "E6" %}
                <img src="{% static 'sample_app/images/e6.png' %}" alt="E6">
            {% elif tone == "F6" %}
                <img src="{% static 'sample_app/images/f6.png' %}" alt="F6">
            {% elif tone == "F#6" %}
                <img src="{% static 'sample_app/images/fs6.png' %}" alt="F#6">
            {% elif tone == "G6" %}
                <img src="{% static 'sample_app/images/g6.png' %}" alt="G6">
            {% elif tone == "G#6" %}
                <img src="{% static 'sample_app/images/gs6.png' %}" alt="G#6">
            {% elif tone == "A6" %}
                <img src="{% static 'sample_app/images/a6.png' %}" alt="A6">
            {% elif tone == "A#6" %}
                <img src="{% static 'sample_app/images/as6.png' %}" alt="A#6">
            {% elif tone == "B6" %}
                <img src="{% static 'sample_app/images/b6.png' %}" alt="B6">
            {% elif tone == "C7" %}
                <img src="{% static 'sample_app/images/c7.png' %}" alt="C7">
            {% elif tone == "C#7" %}
                <img src="{% static 'sample_app/images/cs7.png' %}" alt="C#7">
            {% elif tone == "D7" %}
                <img src="{% static 'sample_app/images/d7.png' %}" alt="D7">
            {% elif tone == "D#7" %}
                <img src="{% static 'sample_app/images/ds7.png' %}" alt="D#7">
            {% elif tone == "E7" %}
                <img src="{% static 'sample_app/images/e7.png' %}" alt="E7">
            {% elif tone == "F7" %}
                <img src="{% static 'sample_app/images/f7.png' %}" alt="F7">
            {% endif %}
    {% endfor %}
</div>

{% for targets in posts.target %}
第{{forloop.counter}}候補

<div style="display: flex;">
    {% for target in targets.hole_list %}
      <div>
        {{targets.tone_index|slice:forloop.counter|last}}
        {{linebreaks}}

        <div style="width: 100px;">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 314.51 862.19">
            <defs>
              <style>
                .cls-1 {
                  fill: red;
                }

                .cls-1, .cls-2 {
                  stroke: #000;
                  stroke-miterlimit: 10;
                  stroke-width: 2px;
                }

                .cls-2 {
                  fill: none;
                }

              </style>
            </defs>
            <!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 1.2.0 Build 709)  -->

            {% for aa in target %}

            <g>
              <g id="background">
                <line id="div" class="cls-2" y1="459.34" x2="210.71" y2="459.34"/>
              </g>

              {% if aa == "R13O" %}
                <g id="open">
                  <path id="R13" class="cls-2" d="M95.24,388.23c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
                </g>
              {% elif aa == "R13C" %}
              <g id="close">
                <path id="R13-2" class="cls-1" d="M95.24,388.23c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
              </g>
              {% endif %}

              {% if aa == "R12O" %}
                <g id="open">
                  <path id="R12" class="cls-2" d="M95.85,342.13c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
                </g>
              {% elif aa == "R12C" %}
              <g id="close">
                <path id="R12-2" class="cls-1" d="M95.85,342.13c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
              </g>
              {% endif %}

              {% if aa == "R11O" %}
                <g id="open">
                  <path id="R11" class="cls-2" d="M83.85,294.83c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
                </g>
              {% elif aa == "R11C" %}
              <g id="close">
                <path id="R11-2" class="cls-1" d="M83.85,294.83c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
              </g>
              {% endif %}

              {% if aa == "R10O" %}
                <g id="open">
                  <path id="R10" class="cls-2" d="M83.41,247.49c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
                </g>
              {% elif aa == "R10C" %}
              <g id="close">
                <path id="R10-2" class="cls-1" d="M83.41,247.49c0,9.78-7.88,19.08-21.81,19.08s-29.18-12.21-27.26-21.81c1.36-6.81,14.31-12.27,27.26-12.27,13.92,0,21.81,5.21,21.81,14.99Z"/>
              </g>
              {% endif %}

              {% if aa == "R9O" %}
                <g id="open">
                  <path id="R9" class="cls-2" d="M76.02,833.47c0-7.18,6.03-15.41,17.16-19.52-31.95-12.9-77.24-14.57-76.97,15.06.19,21.53,31.86,22.87,60.65,10.34-.54-1.76-.84-3.71-.84-5.87Z"/>
                </g>
              {% elif aa == "R9C" %}
              <g id="close">
                <path id="R9-2" class="cls-1" d="M76.02,833.47c0-7.18,6.03-15.41,17.16-19.52-31.95-12.9-77.24-14.57-76.97,15.06.19,21.53,31.86,22.87,60.65,10.34-.54-1.76-.84-3.71-.84-5.87Z"/>
              </g>
              {% endif %}

              {% if aa == "R8O" %}
                <g id="open">
                  <path id="R8" class="cls-2" d="M80.21,781c0-7.18,6.03-15.41,17.16-19.52-31.95-12.9-76.02-14.08-77.16,15.52-.93,24.25,32.06,22.4,60.84,9.87-.54-1.76-.84-3.71-.84-5.87Z"/>
                </g>
              {% elif aa == "R8C" %}
              <g id="close">
                <path id="R8-2" class="cls-1" d="M80.21,781c0-7.18,6.03-15.41,17.16-19.52-31.95-12.9-76.02-14.08-77.16,15.52-.93,24.25,32.06,22.4,60.84,9.87-.54-1.76-.84-3.71-.84-5.87Z"/>
              </g>
              {% endif %}

              {% if aa == "R7O" %}
                <g id="open">
                  <path id="R7" class="cls-2" d="M76.31,833.31c0,18,20,22,42,15,24.71-7.86,54,22,54,10,0-10.05-23.39-38.94-46.69-44.94-31.31-8.06-49.31,7.52-49.31,19.94Z"/>
                </g>
              {% elif aa == "R7C" %}
              <g id="close">
                <path id="R7-2" class="cls-1" d="M76.31,833.31c0,18,20,22,42,15,24.71-7.86,54,22,54,10,0-10.05-23.39-38.94-46.69-44.94-31.31-8.06-49.31,7.52-49.31,19.94Z"/>
              </g>
              {% endif %}

              {% if aa == "R6O" %}
                <g id="open">
                  <path id="R6" class="cls-2" d="M80.5,780.84c0,18,20,22,42,15,24.71-7.86,54,22,54,10,0-10.05-23.39-38.94-46.69-44.94-31.31-8.06-49.31,7.52-49.31,19.94Z"/>
                </g>
              {% elif aa == "R6C" %}
              <g id="close">
                <path id="R6-2" class="cls-1" d="M80.5,780.84c0,18,20,22,42,15,24.71-7.86,54,22,54,10,0-10.05-23.39-38.94-46.69-44.94-31.31-8.06-49.31,7.52-49.31,19.94Z"/>
              </g>
              {% endif %}

              {% if aa == "R5O" %}
                <g id="open">
                  <path id="R5" class="cls-2" d="M121.21,638c11,15,23.02,15.41,33,16,17,1,24,1,29,7s1.11,10.56-8,12c-9.57,1.51-26.72-2.56-38-8-9.82-4.73-22-15-27.73-27.33l11.73.33Z"/>
                </g>
              {% elif aa == "R5C" %}
              <g id="close">
                <path id="R5-2" class="cls-1" d="M121.21,638c11,15,23.02,15.41,33,16,17,1,24,1,29,7s1.11,10.56-8,12c-9.57,1.51-26.72-2.56-38-8-9.82-4.73-22-15-27.73-27.33l11.73.33Z"/>
              </g>
              {% endif %}

              {% if aa == "R4O" %}
                <g id="open">
                  <circle id="R4" class="cls-2" cx="169.95" cy="722.45" r="25.21"/>
                </g>
              {% elif aa == "R4C" %}
              <g id="close">
                <circle id="R4-2" class="cls-1" cx="169.95" cy="722.45" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "R3O" %}
                <g id="open">
                  <circle id="R3" class="cls-2" cx="169.95" cy="606.6" r="25.21"/>
                </g>
              {% elif aa == "R3C" %}
              <g id="close">
                <circle id="R3-2" class="cls-1" cx="169.95" cy="606.6" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "R2O" %}
                <g id="open">
                  <circle id="R2" class="cls-2" cx="169.95" cy="524.83" r="25.21"/>
                </g>
              {% elif aa == "R2C" %}
              <g id="close">
                <circle id="R2-2" class="cls-1" cx="169.95" cy="524.83" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "L11O" %}
                <g id="open">
                  <path id="L11" class="cls-2" d="M245.7,589s-1.17-25.76-4-38c-3-13-21-26-24-41-4.81-24.05,2.49-61.23,19.2-62.53,18.8-1.47,20.41,13.39,20.8,27.53,1,36-6.43,54.89-4,114h-8Z"/>
                </g>
              {% elif aa == "L11C" %}
              <g id="close">
                <path id="L11-2" class="cls-1" d="M245.7,589s-1.17-25.76-4-38c-3-13-21-26-24-41-4.81-24.05,2.49-61.23,19.2-62.53,18.8-1.47,20.41,13.39,20.8,27.53,1,36-6.43,54.89-4,114h-8Z"/>
              </g>
              {% endif %}

              {% if aa == "L10O" %}
                <g id="open">
                  <path id="L10" class="cls-2" d="M271.21,580c1-26,2.95-33.95,14-45,12-12,15-19,14.79-29.93-.19-10.1-1.79-32.07-18.44-35.33-15.34-3-17.35,18.26-16.35,57.26.35,13.69-2.01,42.12-2.12,53.03,0,.12,8.12-.03,8.12-.03Z"/>
                </g>
              {% elif aa == "L10C" %}
              <g id="close">
                <path id="L10-2" class="cls-1" d="M271.21,580c1-26,2.95-33.95,14-45,12-12,15-19,14.79-29.93-.19-10.1-1.79-32.07-18.44-35.33-15.34-3-17.35,18.26-16.35,57.26.35,13.69-2.01,42.12-2.12,53.03,0,.12,8.12-.03,8.12-.03Z"/>
              </g>
              {% endif %}

              {% if aa == "L9O" %}
                <g id="open">
                  <path id="L9" class="cls-2" d="M312,408.24c-2.82-5.44-8.9-7.94-16.36-8.12-21.09-.49-53.15,17.67-53.15,40.83,0,.12.14,2.31.37,5.6,12.24,1.46,14.59,12.19,15.2,23.48.75-2.17,1.48-4.17,2.16-6.03,4.18-11.5,12.36-13.53,20.44-17.6,12.17-6.13,39.56-22.29,31.35-38.16Z"/>
                </g>
              {% elif aa == "L9C" %}
              <g id="close">
                <path id="L9-2" class="cls-1" d="M312,408.24c-2.82-5.44-8.9-7.94-16.36-8.12-21.09-.49-53.15,17.67-53.15,40.83,0,.12.14,2.31.37,5.6,12.24,1.46,14.59,12.19,15.2,23.48.75-2.17,1.48-4.17,2.16-6.03,4.18-11.5,12.36-13.53,20.44-17.6,12.17-6.13,39.56-22.29,31.35-38.16Z"/>
              </g>
              {% endif %}

              {% if aa == "L8O" %}
                <g id="open">
                  <path id="L8" class="cls-2" d="M154.21,421c13,0,26.74,1.01,38-8,15-12,24-21,38-23,15.84-2.26,25,22,1,34-6.99,3.49-23,6-41,5-8.05-.45-14.55,0-20,0-6.95,0-3,0-16,0v-8Z"/>
                </g>
              {% elif aa == "L8C" %}
              <g id="close">
                <path id="L8-2" class="cls-1" d="M154.21,421c13,0,26.74,1.01,38-8,15-12,24-21,38-23,15.84-2.26,25,22,1,34-6.99,3.49-23,6-41,5-8.05-.45-14.55,0-20,0-6.95,0-3,0-16,0v-8Z"/>
              </g>
              {% endif %}

              {% if aa == "L7O" %}
                <g id="open">
                  <path id="L7" class="cls-2" d="M238.21,259c-1,16-3.95,30.5-12,42-7,10-17,14-26,16-9.96,2.21-26,2-33-1-11.22-4.81-6-11,1-14,8.22-3.52,24.55-3,30-3,6,0,16-2,22-10,5.95-7.94,9-22,11-30h7Z"/>
                </g>
              {% elif aa == "L7C" %}
              <g id="close">
                <path id="L7-2" class="cls-1" d="M238.21,259c-1,16-3.95,30.5-12,42-7,10-17,14-26,16-9.96,2.21-26,2-33-1-11.22-4.81-6-11,1-14,8.22-3.52,24.55-3,30-3,6,0,16-2,22-10,5.95-7.94,9-22,11-30h7Z"/>
              </g>
              {% endif %}

              {% if aa == "L6O" %}
                <g id="open">
                  <path id="L6" class="cls-2" d="M204.21,1h10c4,15,7.51,26.23,9,31,5,16,9,30.95,9,42,0,4,3.61,53.04-14,55-18,2-18.96-54.23-14-67,7-18,8-24,6-34-2.36-11.81-2-9-6-27Z"/>
                </g>
              {% elif aa == "L6C" %}
              <g id="close">
                <path id="L6-2" class="cls-1" d="M204.21,1h10c4,15,7.51,26.23,9,31,5,16,9,30.95,9,42,0,4,3.61,53.04-14,55-18,2-18.96-54.23-14-67,7-18,8-24,6-34-2.36-11.81-2-9-6-27Z"/>
              </g>
              {% endif %}

              {% if aa == "L5O" %}
                <g id="open">
                  <path id="L5" class="cls-2" d="M164.21,12c-1,31-8.23,37.19-12,51-6,22,3,45,17,45,13,0,23-24,16-46-4.05-12.71-12-19-13-50h-8Z"/>
                </g>
              {% elif aa == "L5C" %}
              <g id="close">
                <path id="L5-2" class="cls-1" d="M164.21,12c-1,31-8.23,37.19-12,51-6,22,3,45,17,45,13,0,23-24,16-46-4.05-12.71-12-19-13-50h-8Z"/>
              </g>
              {% endif %}

              {% if aa == "L4O" %}
                <g id="open">
                  <circle id="L4" class="cls-2" cx="169.95" cy="366.74" r="25.21"/>
                </g>
              {% elif aa == "L4C" %}
              <g id="close">
                <circle id="L4-2" class="cls-1" cx="169.95" cy="366.74" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "L3O" %}
                <g id="open">
                  <circle id="L3" class="cls-2" cx="169.95" cy="254.99" r="25.21"/>
                </g>
              {% elif aa == "L3C" %}
              <g id="close">
                <circle id="L3-2" class="cls-1" cx="169.95" cy="254.99" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "L2O" %}
                <g id="open">
                  <circle id="L2" class="cls-2" cx="169.95" cy="158.22" r="25.21"/>
                </g>
              {% elif aa == "L2C" %}
              <g id="close">
                <circle id="L2-2" class="cls-1" cx="169.95" cy="158.22" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "L1O" %}
                <g id="open">
                  <circle id="L1" class="cls-2" cx="59.56" cy="152.77" r="25.21"/>
                </g>
              {% elif aa == "L1C" %}
              <g id="close">
                <circle id="L1-2" class="cls-1" cx="59.56" cy="152.77" r="25.21"/>
              </g>
              {% endif %}

              {% if aa == "L0O" %}
                <g id="open">
                  <path id="L0" class="cls-2" d="M63.21,5c0,21,.29,31.62,2,41,2,11,6.7,18.06,9,29,4,19-5,40-16,40-13.63,0-20-23-16-39,3.19-12.76,7-19,9-31,1.58-9.48,2-20,2-40h10Z"/>
                </g>
              {% elif aa == "L0C" %}
              <g id="close">
                <path id="L0-2" class="cls-1" d="M63.21,5c0,21,.29,31.62,2,41,2,11,6.7,18.06,9,29,4,19-5,40-16,40-13.63,0-20-23-16-39,3.19-12.76,7-19,9-31,1.58-9.48,2-20,2-40h10Z"/>
              </g>
              {% endif %}
            </g>
            {% endfor %}

          </svg>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
</body>
</html>